Body {width: 1200px; height: 1180px; margin: auto; background-image: url(descarga.jpg);}
section {width: 1200px; height: 340px; margin: auto; background-color: #ADFDFF;}

nav {width: 1200px; height: 65px;  margin: auto;font-size: 20px;
 background-image: url(9_seguridad-y-cc.jpg); color: #FFFFFF}

 #titulo {font-size: 40px; font-style: oblique;}
 #p {color:#033BFB}
  p {text-align: justify;width: 800px; margin: 15px auto; height: auto;font-size: 20px;}
  h1 {font-size: 30px; width: auto; margin: 12px auto; height: 20px; text-align: center; }
  img {width: 250px; text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;}

#menu { background-color: #0000
         }
 Ul {list-style: none;
         Margin:0px;
         padding: 0px;}

#menu Ul  {display: inline-block;
            padding: 10px 30px;}
#menu ul  a{color: white;
              padding:1080px
            Text-decoration: none;}
#menu ul  a:hover{background-color: #42BB81;}

#product {width: 1200px; height: 500px}



     footer{
       font-size: 20px;
       color: white;
       margin: 15px auto;
       text-align: center;

     }
     img {width: 300px; height: 140px}
