Body {width: 1200px; height: 1080px; margin: auto; background-image: url(descarga.jpg);}
section {width: 1200px; height:500px;margin: auto;; background-color: #ADFDFF;}

nav {width: 1200px; height: 65px;  margin: auto;font-size: 20px;
 background-image: url(9_seguridad-y-cc.jpg); color: #FFFFFF}


 #titulo {font-size: 40px; font-style: oblique;}
 #p {color:#033BFB}
  p {text-align: justify;width: 930px; margin: 20px auto; height: auto;font-size: 20px;}
  h1 {font-size: 30px; width: auto; margin:  auto ; height: auto; text-align: center;}
  img {width: 250px; text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;}

#menu { background-color: #0000
         }
 Ul {list-style: none;
         Margin:0px;
         padding: 0px;}

#menu Ul  {display: inline-block;
            padding: 10px 30px;}
#menu ul  a{color: white ;
              padding:1080px
            Text-decoration: none;}
#menu ul  a:hover{background-color: #42BB81;}



.banner {width: 1200px;
              height: 400px;
             border: 3px solid ; margin: auto;
              background-size: 100% 100%;
               animation: banner 10s infinite;}

     @keyframes banner {
        0%, 30% {background-image: url(slider1.jpg); opacity: 7}
        31%, 34% {opacity: 0.4}
        35%, 65%{ background-image: url(casa.jpg); opacity: 7}
        66%, 69% {opacity: 0.4}
        70%, 100% {background-image: url(Componentes.jpg); opacity: 7}

     }


footer{
  font-size: 20px;
  color: white;
  margin: 15px auto;
  text-align: center;
  height: auto;

}
img {width: 300px; height: 140px}
#jo {width: 930px; height: auto; margin: auto; font-size: 20px}
